.env
cogs/dybalajr.py
cogs/fecha.py
cogs/hdp.py
cogs/coin.py
cogs/random.py
directed-will-448512-t0-48e9d6aadf65.json
changelog.odt
databases/__pycache__/
cogs/__pycache__/
cogs/query.py
testeo.txt
error_log.txt